<h1>Edit Task</h1>
<%= form_with model: @task do |f| %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
  <%= f.label :completed %>
  <%= f.check_box :completed%>
<% end %>
